# Python
__pycache__/
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PyCharm
/.idea/

# Jupyter
.ipynb_checkpoints

# Testing
clean-psgc.csv

# Google Cloud
service-account-key.json

# Ansible
*.retry
hosts.yml

# Secrets
*.env
/deploy/secrets/

# Django
/media/
/static/

# Neutrino
/app/build
